@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --body-color: #F8F9F9;
    --header-color: #CACFD2;
}
body {
    margin: 0;
    background-color: var(--body-color);
    font-family: 'Lato', sans-serif;
}
header {
    background-color: var(--header-color);
    padding: .5em 1em;
    text-align: center;
}
main {
    padding: 2em;
}

.content {
    max-width: 1024px;
    margin: 0 auto;
}

.matrix-form {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
    width: 50%;
    margin: 0 auto;
}
.matrix-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
}
.matrix-form label {
    display: flex;
    justify-content: space-between;
}

.exercise-controls {
    background-color: rgba(0, 0, 0, .2);
    border: 3px solid black;
    border-radius: 10px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
.exercise-controls button {
    height: 3em;
}

.matrix {
    background-color: rgba(0, 0, 0, .2);
    width: min-content;
    margin: 1em 0;
    padding: .2em;
    display: grid;
    gap: .2em;
}
.cell {
    width: 25px;
    height: 25px;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    text-align: center;
}